<div class="container">
  <center><h1>Welcome To Kanban App</h1></center>
  <center><h2>"Get your part Just-On-Time"</h2></center>
  <div class="col-md-8 col-md-offset-2">
    <h2>Please login or Signup Below:</h2>

    <div class="content">
      <p>
      <li><a href="/login">Login</a></li>
      <li><a href="/registrations/signup">Create New Account</a></li>
      </p>
    </div>

    
</div>
